<div class="footer">
  <div class="footer-copyright">
    <%# <%= link_to root_path, class: "navbar-brand" do %>
      <%# <%= image_tag "mind-journey-logo.png", class: "avatar", id: "logo"%>
    <%# <% end %> 
    This website was made with <i class="fas fa-heart"></i> by Lenny, Pablo & Ana
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
