<div class="banner row">
  <div class="col-6">
    <%= image_tag "stairway-to-head.jpg" %>
  </div>
  <div class="col-1">
  </div>
  <div class="col-5">
    <h1>Mind Journey </h1>
    <p>Live the life of an historical icon.</p>
    <%= link_to "See all characters", characters_path, class: "btn btn-ghost" %>
  </div>
</div>

<%# <%= style="background-image: url(<%= asset_url("stairway-to-head.jpg"));%>
