// Define variables for your color scheme

// For example:
$blue: #3670A1;
$coral: #EE8778;
$light-pink: #F8E2DE;
$white: #FFF;
$yellow: #F8D47E;
$dark-gray: #202020;
$gray: #5c5c5c;
$middle-gray: #aaaaaa;
$light-gray: #d1d1d1;
