.carousel-item img {
  height: 50vh;
  object-fit: cover;
  filter: opacity(85%);
  filter: brightness(0.6)
}

.carousel-item h3{
  font-size: 64px;
}

.category-header {
  font-family: $body-font;
  color: $yellow;
  font-size: 48px;
  margin-bottom: 32px;
  // text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: $light-gray;
}

#personality {
  margin-top: 100px;
}
