.show-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.show-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 0px;
}


.titles h2 {
  color:$coral;
  font-size: 28px;
  margin-bottom: 32px;
  font-weight: 700;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color:$blue;
  text-align: center;
}

.titles p {
  font-size: 26px;
  color: $gray;
  font-weight: 500;
  text-align: center;
}

.description p {
  margin-top: 32px;
  font-weight: 200;
  text-align: center;
}

.icons i {
  color: $middle-gray;
}
