
<%= render "components/home-banner" %>
                  
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Choose your experience by character profession</h2>
<div class="container">
  <div class="row justify-content-center" id="grid-gap">
    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Royalty</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Sports</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Artists</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Scientists</h2>
            <p>Short description here!</p>
        </div>
    </div>

  </div>
</div>


<h2>Choose your experience by historical_period</h2>
<div class="container">
  <div class="row justify-content-center" id="grid-gap">
    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Ancient Ages (Up to 500)</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Middle Ages (500 -1500)</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Modern Era (1500 - 1900)</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/318137/screenshots/17478542/media/699c8febe4729b134fec49d2aae6f2d7.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Contemporary History (1900 - Present)</h2>
            <p>Short description here!</p>
        </div>
    </div>

  </div>
</div>



