
<%= render "components/home-banner" %>


<div class="container">
  <h2 style="color:#202020; font-size:25px;">Find the gratest by what they did</h2>
</div>
<div class="container mb-5 mt-3">
  <div class="row justify-content-center" id="grid-gap">
    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/508142/screenshots/16826207/media/8ee9ac3ca7df2cf201d081354ad65617.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Royalty</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/467195/screenshots/16097103/media/144fe893c5bf66af0fa303613730c68d.png?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Sports</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/1068771/screenshots/14737460/media/981729384557d95f533270aac56a9603.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Artists</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/1461762/screenshots/16936227/media/d80740c2a44d843ed516c4c5fb213448.png?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Scientists</h2>
            <p>Short description here!</p>
        </div>
    </div>

  </div>
</div>


<div class="container">
  <h2 style="color:#202020; font-size:25px;">Discover the experiences by historical period</h2>
</div>
<div class="container mt-3 mb-5">
  <div class="row justify-content-center" id="grid-gap">
    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/59947/screenshots/15191512/media/165ed4a3dfdbf2c42cdb1eb153f1fc44.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Ancient Ages (Up to 500)</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/59947/screenshots/15476179/media/4f2cf7f3f038fcd3107970f34265cd10.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Middle Ages (500 -1500)</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/478633/screenshots/3657988/media/5d7e9ede24600700ea22c2e87b83d670.jpg?compress=1&resize=800x600&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Modern Era (1500 - 1900)</h2>
            <p>Short description here!</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/644672/screenshots/15336403/media/2405acbd9cb99a87567447dad59b9fce.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Contemporary History (1900 - Present)</h2>
            <p>Short description here!</p>
        </div>
    </div>

  </div>
</div>

<div class="container">
  <h2 style="color:#202020; font-size:25px;">Discover the experiences by historical period</h2>
</div>
<div class="container mt-3 mb-5">
    <div class="row justify-content-center" id="grid-gap-category">
        <div class="card-category col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1561846005-6855aac17b10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
          Middle Ages
        </div>
        <div class="card-category col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1531752148124-118ba196fc7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)">
          Modern Era
        </div>
    </div>
</div>
