<%= render "components/home-banner" %>

<div class="container" id="personality">
  <h2 class="category-header pb-4">Find your favorite personality</h2>
  <div class="row justify-content-center" id="grid-gap">
    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/508142/screenshots/16826207/media/8ee9ac3ca7df2cf201d081354ad65617.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Royalty</h2>
            <p>From kings to Emperors</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/1188871/screenshots/15511764/media/34b99383714d9aadc48e28dfcbfea975.jpg" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Sports</h2>
            <p>Biggest names in sports history</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/1068771/screenshots/14737460/media/981729384557d95f533270aac56a9603.jpg?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos odd d-flex flex-column">
            <h2>Artists</h2>
            <p>The creative side of the greats</p>
        </div>
    </div>

    <div class="card-trip col">
        <img src="https://cdn.dribbble.com/users/1461762/screenshots/16936227/media/d80740c2a44d843ed516c4c5fb213448.png?compress=1&resize=1200x900&vertical=top" />
        <div class="card-trip-infos even d-flex flex-column">
            <h2>Scientists</h2>
            <p>The greatest minds</p>
        </div>
    </div>

  </div>
</div>

<div class="container mb-5">
  <h2 class="category-header pb-4">Jump into another era</h2>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item figure active">
        <img src="https://images.unsplash.com/photo-1517505240470-1d2daf8723c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100 figure-img img-fluid rounded" alt="Middle Ages" >
        <div class="carousel-caption d-none d-md-block">
          <h3>Middle Ages</h3>
        </div>
      </div>
      <div class="carousel-item figure">
        <img src="https://images.unsplash.com/photo-1531752148124-118ba196fc7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100 figure-img img-fluid rounded" alt="Modern Era">
        <div class="carousel-caption d-none d-md-block">
          <h3>Modern Era</h3>
        </div>
      </div>
      <div class="carousel-item figure">
        <img src="https://images.unsplash.com/photo-1631613565960-3f511395ab6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1779&q=80" class="d-block w-100 figure-img img-fluid rounded" alt="Ancient Time">
        <div class="carousel-caption d-none d-md-block">
          <h3>Ancient Time</h3>
        </div>
      </div>
      <div class="carousel-item figure">
        <img src="https://images.unsplash.com/photo-1516849841032-87cbac4d88f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 figure-img img-fluid rounded" alt="Ancient Time">
        <div class="carousel-caption d-none d-md-block">
          <h3>Contemporary Era</h3>
        </div>
      </div>
      <div class="carousel-item figure">
        <img src="https://images.unsplash.com/photo-1564429247506-322ee8fc5190?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 figure-img img-fluid rounded" alt="Ancient Time">
        <div class="carousel-caption d-none d-md-block">
          <h3>Prehistory</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
