<div class="container pt-5 mb-5">
  <h2 class="all-forms" style="text-align:center">Edit Character <%= @character.title %></h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <%= render 'form', character: @character %>
        <%= link_to 'Show', @character %>
    </div>
  </div>
</div>
