.card-product {
  overflow: hidden;
  height: 200px;
  background: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  //align-items: center;
  border-radius: 4px;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  filter: grayscale(100%);
  background-position: center;
}

.card-product h2 {
  color: $blue;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  height: -webkit-fill-available;
  margin-top: 5px
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  color: $middle-gray;
}

.card-product .card-product-infos {
  padding: 16px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-product .card-product-infos .card-product-infos-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-product .card-product-infos .card-product-infos-top-2 {
  display: flex;

}

.card-product .card-product-infos .card-product-infos-bottom {
  display: flex;
  justify-content: space-between;
}

.card-product h1 {
  color: #6c757d;
  margin-bottom: 10px;
  margin-top: 10px;
  font: $headers-font;
}

.card-product i {
  color: $coral;
}

.text-decor {
  text-decoration: none;
}

.card-product:hover {
  // background-color: #d1d1d1;
  img {
    // filter: grayscale(0%);
    filter: brightness(1.25);
  }
}

#icono {
  color: rgb(90, 90, 90);
}

#name__card {
  color: $blue;
}
