.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 0;
  height: 400px;
}

.card-trip > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 24px;
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  height: 50%;
}

.even {
  background-color: #EE8778;
  color: white;
  p {
    font-size: 20px;
    margin-top: 10px;
  }
  h2 {
    font-size: 35px;
  }
}

.odd {
  background-color: #F8D47E;
  color: white;
  p {
    font-size: 20px;
    margin-top: 10px;
  }
  h2 {
    font-size: 35px;
  }
}


.card-trip-infos .card-trip-user {
  position: absolute;
  right: 24px;
  top: -20px;
  width: 40px;
}

#grid-gap {
  grid-column-gap: 20px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  color: white;
  font-size: 34px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 42px;
}

#grid-gap-category {
  grid-column-gap: 30px;
}
