.banner {
  background-color: $light-pink;
  display: flex;
  height: 80vh;
  margin-bottom: 100px;
  box-shadow: 0px 1px 10px 1px $light-gray;
}

.banner h1 {
  padding-top: 8%;
  margin: 0;
  // margin-bottom: 8px;
  color: $blue;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: 135px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.banner p {
  letter-spacing: 2px;
  font-size: 32px;
  color: $coral;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
  // opacity: .7;
  // text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.banner img {
  height: 80vh;
}
