// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "page-container";
@import "footer";
@import "card-trip";
@import "card-product";
@import "buttons";
@import "home-banner";
@import "map";


body {
  padding: 0px;
}

