.navbar-lewagon {
  justify-content: space-between;
  background:#F8E2DE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#logo {
  padding: 0px;
}

.navbar a {
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  color: $blue;
}
