.navbar-lewagon {
  justify-content: space-between;
  background: $light-pink;
  margin: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .logo img {
  width: 70px;
  border-radius: 50%;
}

#logo {
  padding: 0px;
}

.navbar a {
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  color: $blue;
}

