.svg__search{
  height: 23px;
  width: fit-content;
  fill: #ed9183;
}

.search_button{
  border: none !important;
  background: transparent !important;
}

.search_bar{
  background-color: transparent !important;
  border: none !important;
}

.search_form {
  background: #f9fafb96;
  padding: 0px 20px;
  border-radius: 25px;
}
